@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600&family=Raleway:wght@100;300;400&family=Rubik:wght@300;400&display=swap');

/* Sass Template */

@import './include/variables.scss';
@import './include/global.scss';
@import './include/typography.scss';
@import './include/color.scss';


.carousel-slide{
    display: flex;


}
#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}
#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}