$font-baloo: 'Baloo Thambi 2', cursive;
$font-raleway: 'Raleway', sans-serif;
$font-rubik: 'Rubik', sans-serif;

$color-primary: rgb(15, 43, 94);
$color-secondary: rgb(59, 159, 206);
$color-yellow: rgb(245, 248, 41);